
/* Break Point 768 */

@media screen and (min-width: 768px) {
     /* Profile Section */
    .profile-img {
        height: 250px;
        width: 250px;
    }
    .button {
        height: 35px;
        width: 170px;
    }

    /* About Section */
    .about-heading {
        font-size: 30px;
    }
    .about-profile-img {
        height: 140px;
        width: 140px;
    }

}

/* Break Point 992 */

@media screen and (min-width: 992px) {
    /* Profile Section */
    .profile-main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        font-size: 17px;
    }
    .profile-img {
        height: 300px;
        width: 300px;
    }
    .profile-intro-details {
        font-size: 25px;
    }
    .button {
        height: 40px;
        width: 170px;
    }

    /* About Section */
    .about-profile-container {
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 80px;
    }
    .about-profile-img {
        height: 200px;
        width: 200px;
        order: 1;
    }
    .education-details p {
        font-size: 18px;
    }
    /* Projects Section */
    .project-container {
        display: none;
    }
    .project-container-2 {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .project-card {
        width: 30%;
    }
    .source-button {
        width: 110px;
    }
    .preview-button {
        width: 110px;
    }
    .project-button-container {
        display: flex;
        flex-direction: row;
    }

    /* Contact Container */
    .contact-card {
        width: 70%;
    }
    .contact-get-in {
        font-size: 20px;
    }
    .section-heading {
        font-size: 28px;
    }
    .card-container i {
        font-size: 28px;
    }
    .card-container p {
        font-size: 20px;
    }
    .contact-menu p {
        font-size: 20px;
    }
    .copy-right-container p {
        font-size: 20px;
    }
}

/* Break Point 1400 */

@media screen and (min-width:1400px) {
    /* Profile Section */
    .nav-logo {
        font-size: 30px;
    }
    .navbar-nav a {
        font-size: 25px;
    }
    .profile-main-container {
        margin-top: 30px;
        gap: 50px;
    }
    .profile-img {
        height: 410px;
        width: 410px;
    }
    .profile-intro-details {
        font-size: 30px;
    }
    .social-icon {
        height: 35px;
        width: 35px;
    }
    .button {
        height: 50px;
        width: 170px;
        font-size: 22px;
        margin-bottom: 10px;
    }


    /* About Section */
    #About {
        padding-top: 20px;
    }
    .about-heading {
        font-size: 45px;
    }
    .about-profile-container {
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .about-profile-img {
        height: 300px;
        width: 300px;
    }
    .education-details {
        padding-left: 10px;
        padding-right: 10px;
    }
    .education-details p {
        font-size: 23px;
    }
    .education-details h1 {
        font-size: 27px;
    }
    .skills-heading {
        font-size: 27px;
    }
    .skill-container i {
        font-size: 25px;
    }
    .skill-container p {
        font-size: 20px;
    }

    /* Project Section */
    
    .project-card {
        width: 25%;
    }
    /* Contact Section */

    .contact-get-in {
        font-size: 23px;
    }
    .section-heading {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .contact-card {
        width: 70%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .card-container i {
        font-size: 32px;
    }
    .card-container p {
        font-size: 25px;
    }
    .contact-menu p  {
        font-size: 21px;
    }
    .copy-right-container p {
        font-size: 21px;
    }

}